td {
    width:40px;
    height:40px;


    -webkit-transition: all 1s  ;
    -moz-transition: all 1s  ;
    -o-transition: all 1s ;
    transition: all 1s ;
}

td:hover {
    background-color:red !important;
    color:white;

    -webkit-animation: ananasik 5s linear;
    animation: ananasik 5s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes ananasik{
    10% {
        -webkit-transform: scale(0.5) rotateZ(90deg);
        -ms-transform: scale(0.5) rotateZ(90deg);
        transform: scale(0.5) rotateZ(90deg);
    }
    20%  {
        -webkit-transform: scale(0) rotateZ(180deg);
        -ms-transform: scale(0) rotateZ(180deg) ;
        transform: scale(0) rotateZ(180deg);
    }

    100%  {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

.dobavitStolbec, .delete {
    display:none;
}